@use "../utils/" as u;

main {
	margin: auto;
	width: 375px;
	display: grid;
	.results {
		background: linear-gradient(
			var(--main-background),
			var(--gradient-background)
		);
		width: 100%;
		text-align: center;
		margin: auto;
		h2 {
			color: var(--White);
		}
		.score {
			margin: auto;
			background: linear-gradient(
				var(--score-background),
				var(--score-gradient)
			);
			border-radius: 50%;
			width: 100px;
			height: 100px;
			text-align: center;
			span  {
				display: block;
			}
		}
	}
	.summary {
		h3 {
			color: var(--gray-blue);
		}
	}
}
